* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*Apply the fony family to everything on the page*/
* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    /*background-color: #c6bcb6;*/
}

.grid {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

@media only screen and (max-width: 500px) and (orientation: landscape) {
    p {
        background-color: blue;
        /*display: none;*/
    }
}

.app_image {
    max-width: 320px;
    max-height: 200px;
    padding: 5px;
}

div img {
    height: auto;
    width: 100%;    
}

.logo {
    margin: 1em;
    max-height: 150px;
    max-width: 150px;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.row_header {
    width: 100%;
    max-height: 180px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*** Footer Styling ***/
footer {
    border-top: 2px solid #dbe2e8;
    margin-top: 4em;
    padding: 2em;
    text-align: center;
}

/*** div_split Class Styling ***/
.div_split {
    border-top: 2px solid #dbe2e8;
    padding: 1em;
    text-align: center;
    width: 100%;
}
